<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New post created</h1>
<p>
  you can read it at

  <%= post_url(@post, host: 'localhost:3000', user: Base64.urlsafe_encode64(@user.email)) %><br>
</p>

</body>
</html>