<!-- Page Header -->
<header class="masthead" style=" ">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
      <% end %>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
          <div class="post-preview">
            <%= link_to post_path(post.id) do %>
                <h2 class="post-title" style ="<%= post.mail_log.users.include?(current_user) ? "font-weight: 600" : '' if post.try(:mail_log).try(:users) %>">
                  <%= post.title %>
                </h2>
                <h3 class="post-subtitle">
                  <%= raw post.text %>
                </h3>
            <% end %>
            <p class="post-meta">Posted on <%= post.created_at.to_formatted_s(:short)  %></p>
          </div>
          <hr>
      <% end %>
    </div>
  </div>
</div>

<hr>
