<header class="masthead" style ="<%= @post.image.attached? ? "background-image: url(#{url_for(@post.image)})" : '' %>">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @post.title %></h1>

          <span class="meta">Posted on <%= @post.created_at.to_formatted_s(:short)  %></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
              <%= message %>
            </div>
        <% end %>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
         <%= raw @post.text %>
      </div>
      <% if show_attachments?(@post) %>
        <div class="col-lg-8 col-md-10 mx-auto">
          <blockquote class="blockquote">Attachments for this post:</blockquote>
          <% @post.files.each do |f| %>
            <p><%= link_to f.filename, rails_blob_path(f, disposition: "attachment") %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</article>

<hr>
