// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import 'font-awesome/font-awesome';
@import 'activeadmin/froala_editor_input';


.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #130b0b;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
  }
  .bg-success {
    background-color: #28a745 !important;
  }
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
